<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/styles-envio.css" />
  <link rel="stylesheet" href="/css/styles-header.css" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />

  <title>Carrito</title>
</head>

<body>
  <header>
    <div class="main-header">
      <a class="burger-menu" href="#">
        <div>
          <i class="fas fa-bars"></i>
        </div>
      </a>
      <img src="/images/logo-one.png" class="logo" />
      <nav class="main-nav">
        <div>
          <i class="fa-solid fa-square-1"></i>
          <span class="nav-btn-text">Información de contacto</span>
          </a>
          <a href="#">
            <i class="fa-solid fa-square-2"></i>
            <span class="nav-btn-text">Método de pago</span>
          </a>
          <a href="#">
            <i class="fa-solid fa-square-3"></i>
            <span class="nav-btn-text">Método de envio</span>
          </a>

        </div>
      </nav>
      <div class="search-cart">
        <button><i class="fas fa-search"></i></button>
        <button><i class="fas fa-shopping-cart"></i></button>
      </div>
    </div>
  </header>

  <!----Envió-->
  <section class="checkout">

    <h2 class="section-heading">Dirección entrega</h2>
    <form>
      <div class="form-group col-md-6">
        <label class="font-weight-bold">Contacto<span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="contacto">
      </div>
      <div class="form-row mb-2">
        <div class="form-group col-md-6">
          <label class="font-weight-bold">País<span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="País">
        </div>
        <div class="form-group col-md-6">
          <label class="font-weight-bold">Departamento, ciudad, región<span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Departamento, ciudad, región">
        </div>
        <div class="form-row mb-2">
          <div class="form-group col-md-6">
            <label class="font-weight-bold">Descripción (Manzana, conjunto, casa (opcional)<span
                class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="(Manzana, conjunto, casa (opcional)">
          </div>

          <h2 class="section-heading">Medio de envió</h2>
          <div class="form-group col-md-6">
            <label class="font-weight-bold">Retiro en punto aliado Corsair<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="Retiro en punto aliado Corsair ">
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="font-weight-bold">Envío estándar<span class="text-danger">*</span></label>
          <input type="email" class="form-control" placeholder="Envío estándar">
        </div>
        <div class="form-group mb-3">
          <label class="font-weight-bold">Envío día siguiente <span class="text-danger">*</span></label>
          <input type="password" class="form-control" placeholder="Envío día siguiente">
        </div>

        <button class="btn btn-primary width-100">Continuar a pagar</button>
    </form>
    </main>
</body>

</html>