<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/styles-envio.css" />
  <link rel="stylesheet" href="/css/styles-header.css" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />

  <title>Carrito</title>
</head>
<header>
 
</header>
<body>
  <div class="container">

    <form action="">

        <div class="row">

            <div class="col">

                <h3 class="title">Dirección de entrega</h3>

                <div class="inputBox">
                    <input type="text" placeholder="Contacto">
                    <input type="text" placeholder="Departamento, región, país">
                    <input type="text" placeholder="Dirección">
                    <input type="text" placeholder="Descripción (manzana, conjunto, casa opcional)">
                </div>
                
                <h3 class="title">Medios de envío</h3>
                <div class="inputBox">
                    <input type="text" placeholder="Retiro en punto aliado Corsair">
                    <input type="text" placeholder="Envío estándar">
                    <input type="text" placeholder="Envío al día siguiente">
                </div>
            </div>
    
        </div>

        <input type="submit" value="Continuar a pagar" class="submit-btn">

    </form>

</div>  
</body>

</html>