<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/styles-register.css">
  <link rel="stylesheet" href="/css/normalize.css" />
  <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />

  <title>Register confirmation</title>
</head>

<body>

  <header>
    <div class="main-header">
      <a class="burger-menu" href="#">
        <div>
          <i class="fas fa-bars"></i>
        </div>
      </a>
      <img src="/images/logo-one.png" class="logo" />
      <nav class="main-nav">
        <div>
          <a href="#">
            <i class="fa-solid fa-square-1"></i>
            <span class="nav-btn-text">Información de contacto</span>
          </a>
          <a href="#">
            <i class="fa-solid fa-square-2"></i>
            <span class="nav-btn-text">Método de pago</span>
          </a>
          <a href="#">
            <i class="fa-solid fa-square-3"></i>
            <span class="nav-btn-text">Método de envío</span>
          </a>
        </div>
      </nav>
      <div class="search-cart">
        <button><i class="fas fa-search"></i></button>
        <button><i class="fas fa-shopping-cart"></i></button>
      </div>
    </div>
  </header>

  <!----información-->
  <section class="checkout">

    <h2 class="section-heading">Sesión iniciada como</h2>
    <form>
      <div class="form-group col-md-6">
        <label class="font-weight-bold">Dirección de entrega <span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="Agrega tu dirección">
      </div>
      <div class="form-row mb-2">
        <div class="form-group col-md-6">
          <label class="font-weight-bold">Apellido <span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Tu apellido">
        </div>
        <div class="form-group col-md-6">
          <label class="font-weight-bold">Nombre <span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Tu nombre">
        </div>
        <div class="form-row mb-2">
          <div class="form-group col-md-6">
            <label class="font-weight-bold">Celular <span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="Celular">
          </div>
          <div class="form-group col-md-6">
            <label class="font-weight-bold">Teléfono (opcional)<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="telefono">
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="font-weight-bold">Departamento, ciudad, región <span class="text-danger">*</span></label>
          <input type="email" class="form-control" placeholder="Ingresa tu correo electrónico">
        </div>
        <div class="form-group mb-3">
          <label class="font-weight-bold">Código postal <span class="text-danger">*</span></label>
          <input type="password" class="form-control" placeholder="Codigo">
        </div>

        <button class="btn btn-primary width-100">Continuar con método de envió</button>
    </form>
    </main>
    <footer>
      
    </footer>

</body>

</html>