<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-información.css" />
    <link rel="stylesheet" href="/css/styles-header.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" /> 
  <title>Información</title>
</head>
<header>
  
</header>

<body>
  <div class="container">

    <form action="">

        <div class="row">

            <div class="col">

                <h3 class="title">sesión iniciada como ascatiso@gmail.com</h3>

                <div class="inputBox">
                    <span>Contacto :</span>
                    <input type="number" placeholder="">
                </div>
                <div class="inputBox">
                    <span></span>
                    <input type="text" placeholder="Apellidos">
                </div>
                <div class="inputBox">
                    <span></span>
                    <input type="text" placeholder="Celular">
                </div>
                <div class="inputBox">
                    <span></span>
                    <input type="text" placeholder="Departamento,ciudad,región">
                </div>
                <div class="inputBox">
                    <span></span>
                    <input type="number" placeholder="código postal">
                </div>

            </div>

            <div class="col">

                <div class="inputBox">
                    
                    <input type="text" placeholder="Departamento,ciudad,región">
                </div>
                
                <div class="inputBox">
                    <span></span>
                    <input type="text" placeholder="Nombres">
                </div>
                <div class="inputBox">
                    <span></span>
                    <input type="text" placeholder="Teléfono (opcional)">
                </div>
            </div>
    
        </div>

        <input type="submit" value="continuar a método de pago" class="submit-btn">

    </form>

</div> 

</body>

</html>