<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles-pago.css">
  <link rel="stylesheet" href="/css/normalize.css" />
  <script src="/https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <title>Carrito</title>
</head>

<body>
  <header>
    <div class="logotipo">
      <img src="/images/logo-one.png" width="300"/>
    </div> 
    <nav>
      <ul>
        <li><a href="#">2.Método de pago</a></li>
        <li><a href="#">3.Método de envió</a></li>
      </ul>
    </nav> 
  </header>
  
  <h2>Resumen del envio</h2>
  <form>
<section><label for="contacto">Contacto:ascatiso@gmail.com</label>
</section>

<input type="text" id="contacto" placeholder="contacto:">
<label for="dirección">Dirección</label>
<input type="text" id="direccion" placeholder="Dirección:">

<h2>Método de envió</h2>





  </form>
</body>

</html>