<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles-pago.css">
  <link rel="stylesheet" href="/css/normalize.css" />
  <script src="/https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <title>Carrito</title>
</head>

<body>
  <div class="container">

    <form action="">

        <div class="row">

            <div class="col">

                <h3 class="title">Resumen de envío</h3>

                <div class="inputBox">
                    <input type="text" placeholder="Contacto">
                    <input type="text" placeholder="Dirección">
                </div>
              
                <h3 class="title">Método de envío</h3>
                <div class="inputBox">
                    <input type="text" placeholder="Tarjeta débito o crédito">
                    <input type="text" placeholder="Número de tarjeta">
                    <input type="text" placeholder="Titular">
                </div>
            </div>

            <div class="col">
               
                <div class="inputBox">

                    <h3 class="title">Fecha de vencimiento</h3>
                <div class="flex">
                    <div class="inputBox">
                        <input type="text" placeholder="mes">
                    </div>
                    <div class="inputBox">
                        <input type="text" placeholder="año">
                    </div>
                </div>
                    
                </div>
                <div class="inputBox"> 
                    <input type="text" placeholder="pago PSE  y cuentas bancarías">
                </div>
                <div class="inputBox">
                    <input type="text" placeholder="Pago PayPal">
                </div>
                <div class="inputBox">
                    <input type="text" placeholder="pago contraentrega">
                </div>
                <div class="inputBox">
                    <input type="text" placeholder="pago vía baloto">
                </div>
            </div>
    
        </div>

        <input type="submit" value="Completar pedido" class="submit-btn">

    </form>

</div>
</body>
</html>