<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles-productCart.css">
  <link rel="stylesheet" href="/css/normalize.css" />

  <title>Carrito</title>
</head>

<body>
  <!-- HEADER -->
  <header>
    <div class="head-car">
      <h2>REVISA TU CARRITO</h2>
    </div>
    <a href="/"><i class="fa-solid fa-x"></i></a>
  </header>
  <main>
    <ul>
      <li>
        <div>
          <div class="truck">
            <i class="fa-solid fa-truck"></i>
            <span>
              Items in your cart qualify for free shipping. Some exclusions may apply.
            </span>
          </div>
        </div>
      </li>
      <li class="car-item0">
        <div class="content-product">
          <div class="img-car">
            <img src="/images/teclado.png" alt="">
          </div>
          <div class="info">
            <div class="title-product">
              <a href="#">K100 RGB Optical-Mechanical Gaming Keyboard</a>
            </div>
            <div class="cantidad">
              <div class="add">
                <div class="incremento">
                  <a href="#">-</a>
                  <p>1</p>
                  <a href="#">+</a>
                </div>
              </div>
              <div>
                $200
              </div>
            </div>
            <div class="delete">
              <a href="#"><i class="fa-regular fa-trash-can"></i></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </main>
  <footer>
    <div class="subtotal">
      <h2>SUBTOTAL:</h2>
      <p>$79,99</p>
    </div>
    <div class="subtotal">
      <p>DESCUENTO ESTIMADO:</p>
      <p>$79,99</p>
    </div>
    <div class="subtotal">
      <p>TRANSPORTE:</p>
      <p>$79,99</p>
    </div>
    <div class="subtotal">
      <p>IMPUESTO:</p>
      <p>$79,99</p>
    </div>
    <div class="button-end">
      <a href="#">FINALIZAR COMPRA</a>
    </div>
  </footer>
  <!-- FOOTER -->

</body>

</html>