<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/fcf9db6539.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles-home.css" />
  </head>
  <body>
    <header>
      <div class="top-header">
        <img
          class="flag"
          src="https://img.icons8.com/fluency/48/000000/colombia-circular.png"
        />
        <p class="envios">
          Envío gratis a partir de $500.000 | Debido a COVID-19, algunos pedidos
          pueden sufrir retrasos.
        </p>
        <p class="xbox">XBOX</p>
        <p class="nintendo">NINTENDO</p>
        <p class="playstation">PLAYSTATION</p>
      </div>
      <div class="main-header">
        <a class="burger-menu" href="#">
          <div>
            <i class="fas fa-bars"></i>
          </div>
        </a>
        <img src="img/logo-one.png" class="logo" />
        <nav class="main-nav">
          <div>
            <a href="#">
              <span class="nav-btn-text">GAMING GEAR</span> 
            </a>
            <a href="#">
              <span class="nav-btn-text">TIENDA</span> 
            </a>
            <a href="#">
              <span class="nav-btn-text">SOFTWARE</span> 
            </a>
            <a href="#">
              <span class="nav-btn-text">STREAMING</span> 
            </a>
            <a href="#">
              <span class="nav-btn-text">DIADEMAS</span> 
            </a>
          </div>
        </nav>
        <div class="search-cart">
          <button><i class="fas fa-search"></i></button>
          <button><i class="fas fa-shopping-cart"></i></button>
        </div>
      </div>
    </header>
    <main>
      <section class="banner">
        <p>Hola</p>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
