<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/fcf9db6539.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/styles-home.css" />
</head>

<body>
  <header>
    <div class="top-header">
      <img class="flag" src="https://img.icons8.com/fluency/48/000000/colombia-circular.png" />
      <p class="envios">
        Envío gratis a partir de $500.000 | Debido a COVID-19, algunos pedidos
        pueden sufrir retrasos.
      </p>
      <p class="xbox">XBOX</p>
      <p class="nintendo">NINTENDO</p>
      <p class="playstation">PLAYSTATION</p>
    </div>
    <div class="main-header">
      <a class="burger-menu" href="#">
        <div>
          <i class="fas fa-bars"></i>
        </div>
      </a>
      <img src="img/logo-one.png" class="logo" />
      <nav class="main-nav">
        <div>
          <a href="#">
            <span class="nav-btn-text">GAMING GEAR</span>
          </a>
          <a href="#">
            <span class="nav-btn-text">TIENDA</span>
          </a>
          <a href="#">
            <span class="nav-btn-text">SOFTWARE</span>
          </a>
          <a href="#">
            <span class="nav-btn-text">STREAMING</span>
          </a>
          <a href="#">
            <span class="nav-btn-text">DIADEMAS</span>
          </a>
        </div>
      </nav>
      <div class="search-cart">
        <a href="#"><button><i class="fas fa-search"></i></button></a>
        <a href="#"><button><i class="fas fa-shopping-cart"></i></button></a>
        <a href="#"><button><i class="fa-regular fa-circle-user"></i></button></a>
      </div>
    </div>
  </header>
  <main>
    <div class="banner">
      <div class="slide-1">
        <video class="video-slide" autoplay loop preload muted src="videos/bgn-banner-k70-rgb-pro.mp4"></video>
        <div class="des-slide">
          <h1>K70 RGB PRO</h1>
          <p>Timeless design meets peerless technology.</p>
          <button><a href="#">COMPRAR AHORA</a></button>
        </div>
      </div>
    </div>
    <section class="explore-product">
      <div class="product">
        <a href="#">
          <img src="img/explore-cases.png" alt="" />
        </a>
        <div class="product-name">CARCASAS</div>
      </div>
      <div class="product">
        <a href="#">
          <img src="img/explore-keyboards.png" alt="" />
        </a>
        <div class="product-name">CARCASAS</div>
      </div>

      <div class="product">
        <a href="#">
          <img src="img/explore-headsets.png" alt="" />
        </a>
        <div class="product-name">CARCASAS</div>
      </div>
      <div class="product">
        <a href="#">
          <img src="img/explore-monitors.png" alt="" />
        </a>
        <div class="product-name">CARCASAS</div>
      </div>
    </section>
    <div class="g1-content">
      <section class="content-g1">
        <a href="#">
          <h2>BEST SELLERS</h2>
          <p>There's a reason this gear's so popular.</p>
          <button><a href="#">COMPRAR AHORA</a></button>
        </a>
      </section>
      <section class="content-g2">
        <a href="#">
          <h2>BEST SELLERS</h2>
          <p>There's a reason this gear's so popular.</p>
          <button><a href="#">COMPRAR AHORA</a></button>
        </a>
      </section>
    </div>
    <div class="g1-content">
      <section class="content-icue">
        <a href="#">
          <img src="img/logo-one.png" alt="">
          <h2>BEST SELLERS</h2>
          <p>There's a reason this gear's so popular.</p>
        </a>
      </section>
      <section class="content-g3">
        <a href="#">
          
        </a>
      </section>
    </div>
  </main>
  <footer>

  </footer>
</body>

</html>



<!-- <img src="img/ico-icue.png" alt="">
<h2>BEST SELLERS</h2>
<p>There's a reason this gear's so popular.</p>
<button><a href="#">COMPRAR AHORA</a></button> -->