<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Acá va el home!!!
    <body style="background-color:#515252;">
    </body>
    
      <header>
    
         <div class="superior-encabezado" type-text: "center" style="color:#0000">
            <center><p class="envios">
              Envío gratis desde $500.000 | Debido a COVID-19, algunos pedidos
              pueden sufrir retrasos.                      XBOx 360             NINTENDO         PLAYSTATION 
            </p></center>
           
          </div>
    
      <div class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container">
          <a href="#" class="navbar-brand ">
            <strong ></strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarHeader">
            <ul class="navbar-nav me-auto mb-2 mb -lg-0">
              <li class="nav-item">
              <center><a href="#" class="nav-link active">AURICULARES</a></center>
              </li>
    
               <li class="nav-item">
                <a href="#" class="nav-link active" style="color:#F4F90E">PC COMPONENTES</a></center>
              </li>
    
              <li class="nav-item">
                <a href="#" class="nav-link active" style=>SOFTWARE</a>
              </li>
    
              <li class="nav-item">
               <a href="#" class="nav-link active" style="color:#F4F90E">STREAMING</a>
              </li>
    
              <li class="nav-item">
               <a href="#" class="nav-link active" >DIADEMAS</a>
              </li>
            </ul>
    
            <a href="" class="" style="color:#FFFFFF" >Mi cuenta</a>
            <img src="">
          </div>
        </div>
      </div>
    </header>
    
    
    
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-md-1">
            
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/productos/1/producto1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/productos/1/producto4.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/productos/1/producto5.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
     </div>
          <div class="col-md-6 order-md-2">
             <h2 style="color:#F4F90E";>VIRTUOSO RGB WIRELESS XT</h2>
             
            
             
             <h2 style="color:#FFFFFF";>$ 299.000 COP</h2>
    
    
    
             <h2>
              <small class="text-succes" style="color:#FFFFFF">★★★★★ 25 reseñas </small>
            </h2>
    
    
    
             <p class="lead">
             
    
               
               <h5 style="color:#F4F90E";> El CORSAIR VIRTUOSO RGB Wireless XT </h5> 
               <p style="color:#FFFFFF";>-Detalles ofrece una experiencia de audio de alta fidelidad</p>
          
              <p style="color:#FFFFFF";> -conectividad simultánea con SLIPSTREAM WIRELESS hiperrápido y Bluetooth®. </p>
    
             </p>
    
             <div class="d-grid gap-3 col-10 mx-auto" style="color:#FFFFFF">
               <button class="btn btn-outline-primary" type="button"  style="color:#FFFFFF">Escoge el color </button>
               <button class="btn btn-outline-primary"  style="color:#FFFFFF" type="button" >Agregar al Carrito </button>
             </div>
          </div>
        </div>
      </div>
    
    </main>
    
    <footer  style="width:100%; margin-left: 0px;"  >
    
    
    <div class="copyright" style="background-color: #0000;">
        <center><div class="container-fluid" style="background-color: #0000; color: #0000;">
            ©  New soft  2022          grupo 6
    
        </div></center>
    </div>
    
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>