<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/styles-register.css">
    <link rel="stylesheet" href="css/normalize.css" />
    <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>

    <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
    rel="stylesheet"
  />

    <title>Register confirmation</title>
</head>
<body>

    <header>
        <div class="top-header">
          <img
            class="flag"
            src="https://img.icons8.com/fluency/48/000000/colombia-circular.png"
          />
          <p class="envios">
            Envío gratis a partir de $500.000 | Debido a COVID-19, algunos pedidos
            pueden sufrir retrasos.
          </p>
          <p class="xbox">XBOX</p>
          <p class="nintendo">NINTENDO</p>
          <p class="playstation">PLAYSTATION</p>
        </div>
        <div class="main-header">
          <a class="burger-menu" href="#">
            <div>
              <i class="fas fa-bars"></i>
            </div>
          </a>
          <img src="img/logo-one.png" class="logo" />
          <nav class="main-nav">
            <div>
              <a href="#">
                <span class="nav-btn-text">GAMING GEAR</span>
              </a>
              <a href="#">
                <span class="nav-btn-text">TIENDA</span>
              </a>
              <a href="#">
                <span class="nav-btn-text">SOFTWARE</span>
              </a>
              <a href="#">
                <span class="nav-btn-text">STREAMING</span>
              </a>
              <a href="#">
                <span class="nav-btn-text">DIADEMAS</span>
              </a>
            </div>
          </nav>
          <div class="search-cart">
            <button><i class="fas fa-search"></i></button>
            <button><i class="fas fa-shopping-cart"></i></button>
          </div>
        </div>
      </header>
<br>
<br>
<br>
<br>

<video autoplay="autoplay" loop="loop" id="video_background" preload="auto" volume="50">
  <source src="img/Corsair_iCue_Room_Explore.webm" type="video/mp4" />
</video>

    <main class="register-confirmation">
        <form action="/formulario-registro" method="post" class="formulario-forma">
         <h2>Confirmacion</h2><br>  
         <div class="formulado-interno">
         <p>INGRESE EL CODIGO ENVIADO A SU CORREO ELECTRÓNICO</p>
          <div class="control-formulario">
               <input type="text" name="codigo_confirmacion" placeholder="*1A2B3C" class="control-input-confirmation" required minlength="6">
          </div>
        
          <div class="control-envio"><button type="submit" class="boton-formulario">ENVIAR</button></div>
          <br>
          <p>¿No recibiste el codigo? <a href="#">Presiona aqui</a>.</p>
          <div><i class="fab fa-twitter"></i> <i class="fab fa-youtube"></i> <i class="fab fa-facebook-f"></i> <i class="fab fa-instagram"></i></div>
        </div>
        </form>

        <footer class="segundo-footer">

        <div class="third-footer">
          <h2>Copyright © 2022 NewSoft - Todos los derechos reservados</h2>
          <img
          class="footer-pago"
          src="img/pagos.png"
        />
        </div>
        
        </footer>
    </main>   
 </body>
</html>