<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/styles-register.css">
    <link rel="stylesheet" href="css/normalize.css" />
    <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>

    <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
    rel="stylesheet"
  />

    <title>Registro</title>
</head>

<body class="body-register-confirmation">
    <header>
        <div class="top-header">
          <img
            class="flag"
            src="https://img.icons8.com/fluency/48/000000/colombia-circular.png"
          />
          <p class="envios">
            Envío gratis a partir de $500.000 | Debido a COVID-19, algunos pedidos
            pueden sufrir retrasos.
          </p>
          <p class="xbox">XBOX</p>
          <p class="nintendo">NINTENDO</p>
          <p class="playstation">PLAYSTATION</p>
        </div>
        <div class="main-header">
          <a class="burger-menu" href="#">
            <div>
              <i class="fas fa-bars"></i>
            </div>
          </a>
          <img src="img/logo-one.png" class="logo" />
          <nav class="main-nav">
            <div>
              <a href="#">
                <span class="nav-btn-text">GAMING GEAR</span>
              </a>
              <a href="#">
                <span class="nav-btn-text">TIENDA</span>
              </a>
              <a href="#">
                <span class="nav-btn-text">SOFTWARE</span>
              </a>
              <a href="#">
                <span class="nav-btn-text">STREAMING</span>
              </a>
              <a href="#">
                <span class="nav-btn-text">DIADEMAS</span>
              </a>
            </div>
          </nav>
          <div class="search-cart">
            <button><i class="fas fa-search"></i></button>
            <button><i class="fas fa-shopping-cart"></i></button>
          </div>
        </div>
    </header>

    <main>
        <form action="/register-confirmation" method="post" class="formulario-forma">
         <div class="mensaje-logo"><h1>FORMULARIO DE REGISTRO</h1> <img src="img/logo-solo.png" class="logo-solo"></div>
         <P>Complete todos los campos para crear su ID</P>  
         <div class="formulado-interno">
          <div class="control-formulario">
               <input type="text" name="nombre_usuario" placeholder="NOMBRE" class="control-input" required>
          </div>
          <div class="control-formulario">
                <input type="text" name="apellido_usuario" placeholder="APELLIDOS" class="control-input" required>
          </div>
          <div class="control-formulario">
               <input type="email" name="email_usuario" placeholder="DIRECCIÓN DE CORREO ELECTRÓNICO" class="control-input" required>
          </div>
          <div class="control-formulario">
               <input type="password" name="clave" placeholder="CONTRASEÑA" class="control-input" required minlength="8">
          </div>
            
          <div>
            <input type="checkbox" name="newsletter" id="newsletter">
            <label for="newsletter">Si, quiero recibir noticias y correos electrónicos de productos</label>
          </div>
          <p> Al crear una cuenta, acepta nuestros <a href="#">Términos de servicio</a> y confirma que ha leido nuestra <a href="#">
              Política de privacidad.</a> Este sitio está protegido por Captcha.</p>
              <br>
          <div class="control-envio"><button type="submit" class="boton-formulario">CREAR CUENTA</button></div>
          <br>
          <div class="iconos-finales"><i class="fab fa-twitter"></i> <i class="fab fa-youtube"></i> <i class="fab fa-facebook-f"></i> <i class="fab fa-instagram"></i></div>
          <br>
          <div><a href="/login.html" class="control-input">INICIAR SESIÓN</a></div>
        </div>
        </form>
    </main> 
    
    <footer>
      <div class="top-footer">
        <div class="mensaje-suscripcion">
        <h1>SUSCRIBETE Y RECIBE LAS MEJORES OFERTAS</h1>
        
       </div>
        <div class="form" action="#" method="GET">
        <input type="email" placeholder="CORREO ELECTRONICO" name="email-sususcripcion" class="barra-suscripcion">
        <button type="submit" class="boton-formulario-suscripcion">SUSCRIBIRSE YA!</button></div>
     </div>
     <h4>Cupones ilimitados,lleva productos exclusivos y entérate de los eventos de NewSoft</h4>
     
     
     <div class="second-footer">
      <nav class="main-navbar-footer">
        <ul class="first-navbar-footer">
          <h2>TIENDA</h2>
            <li><a href="#">Nuevos productos</a></li>
            <li><a href="#">Ofertas especiales</a></li>
            <li><a href="#">Lo más vendido</a></li>
            <li><a href="#">Marcas</a></li>
        </ul>
        <ul class="second-navbar-footer">
          <h2>EXPLORAR</h2>
            <li><a href="#">PC personalizado</a></li>
            <li><a href="#">Gaming</a></li>
            <li><a href="#">Streaming</a></li>
            <li><a href="#">eSports</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        <ul class="third-navbar-footer">
          <h2>EXPLORAR</h2>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Trabaja con nosotros</a></li>
            <li><a href="#">Carreras</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Contatenos</a></li>
        </ul>
        <ul class="fourth-navbar-footer">
          <h2>EXPLORAR</h2>
            <li><a href="#">Descargas</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">XP Care</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Envíos y garantias</a></li>
        </ul>
        <div class="iconos-finales-footer"><h2>SÍGUENOS EN:</h2><i class="fab fa-twitter"></i> <i class="fab fa-youtube"></i> <i class="fab fa-facebook-f"></i> <i class="fab fa-instagram"></i></div>
    </nav>
    
    </div>
    <div class="third-footer">
      <h2>Copyright © 2022 NewSoft - Todos los derechos reservados</h2>
      <img
      class="footer-pago"
      src="img/pagos.png"
    />
    </div>
    
    </footer>
 </body>
</html>