<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://kit.fontawesome.com/0dc1787e55.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <main>
        <form action="/formulario-registro" method="post" class="formulario-forma">
         <h2>Confirmacion</h2>  
         <h3>Ingrese el codigo</h3>
         <p>INGRESE EL CODIGO ENVIADO A SU CORREO ELECTRÓNICO</p>
          <div class="control-formulario">
               <label></label>
               <input type="text" name="codigo_confirmacion" placeholder="*1A2B3C" class="control-input">
          </div>
        
          <div class="control-envio"><button type="submit" class="boton-formulario">ENVIAR</button></div>
          <br>
          <p>¿No recibiste el codigo? <a href="#">Presiona aqui</a>.</p>
          <div><i class="fab fa-twitter"></i> <i class="fab fa-youtube"></i> <i class="fab fa-facebook-f"></i> <i class="fab fa-instagram"></i></div>
        </form>
    </main>   
 </body>
</html>