:root{
    /* Colores */
    --blanco: #FFF;;
    --amarillo:#E9E600;;
    --gris: #A8A8A8;;
    /* Familias de Fuentes */
    font-family: 'Bebas Neue', cursive;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
 header{
     display: flex;
     min-height: 70px;
     background-color: #A8A8A8;
     justify-content: space-between;
     align-items: center;
     padding: 1.0rem 1.5rem;
 }
 .logo{
     display: flex;
     align-items: center;
 }
 .logo img{
     height: 80px;
     margin-right: 10px;
 }
 nav button{
     font-size: 18px;
     margin: 0 18px;
     padding: 10px;
     }
 
 nav a{
     font-weight: 600;
     padding-right: 50px;
 }
 nav a:hover{
     color: yellow
 }
 @media (max-width:650px){
     header{
            flex-direction: column;
     }
     nav{
         padding: 10px 0px;
     }
 }
 main{
     width: 100vw;
     main-height: 100vh;
     background-color: #FFF;
     font-size: 1.2rem;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .container{
     background-color: white;
     max-width: 800px;
     min-height: 500px;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     padding: 2.0rem 2.5rem;
 }
 .left{
     flex-basis: 50%;
 }
 .right{
    flex-basis: 50%;
}
form{
    padding: 1rem;
}
h3{
    margin-top: 1rem;
    color: black;
}
.inputbox{
    width: 100%;
   padding: 0.5rem 0.7rem;
   margin: 0.5rem 0;
   outline: none;
}
#zip{
    display: flex;
    margin-top: 0.5rem;
    padding: 0.5rem 0.7rem;
}
form .right{ border: solid;
    width: 30%; 
    height: 400px;
    margin: 1%;
    float: left; }

    @media screen and (max-width: 720px) {
        form .right { border: solid;
                  width: 90%; 
                  height: 400px;
                  margin: 5%; }
                }