:root{
    /* Colores */
    --blanco: #FFF;;
    --amarillo:#E9E600;;
    --gris: #A8A8A8;;
    /* Familias de Fuentes */
    font-family: 'Bebas Neue', cursive;
}
*{
    margin:0;
    padding: 0;
}
body{
    background-color: #FFF;
}

header, .form{
    background-color: #FFF;
    width: 90%;
    max-width: 1000%;
    margin: 20px auto;
}
header nav{
    background-color: #A8A8A8;
    overflow: hidden;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    float: left;
}
header nav ul li a {
    padding: 10px 20px;
    display: block;
    color: #FFF;
    text-decoration: none;
}
header nav ul li a:hover{
    background-color: #E9E600;
}

form {
    width: 25%;
    border: 1px solid #FFF;
    margin: 20px;
    padding: 20px;
}