:root{
    /* Colores */
    --blanco: #FFF;;
    --amarillo:#E9E600;;
    --gris: #A8A8A8;;
    /* Familias de Fuentes */
    font-family: 'Bebas Neue', cursive;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;
}
img{
    width: 100%;
}

*:before,*:after{
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: black;
}
.main-header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 2px 10px;
    align-items: center;
    color: #FFF;
    font-size: 4vw;
    width: 100%;
}
.burger-menu{
    font-size: 30px;
    color: #FFF;
    display: block;
    padding: 4px 0;
}

.logo{
    width: 30vw;
    display: flex;
    padding: auto 0;
}
.main-nav{
    display: none;
}
.main-nav a{
    text-decoration: none;
    color: #FFF;
    padding: 5px 0;
    font-size: 25x;
}

.main-nav a:after{
    background: #E9E600;
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: 250ms transform;
    width: 100%;
}
.search-cart i{
    margin: 0 3px;
    font-size: 60%;
}

.search-cart button{
    background-color: transparent;
    color: #FFF;
    border: 0px;
    font-size: 7vw;
}
.cart {
    width: 40%;
    display:         flex;
    flex-direction:  column;
    justify-content: flex-end;
  }
  
  .cart-item-box {
    padding: 40px var(--px);
    margin-bottom: auto;
  }
  
  .product-card:not(:last-child) { margin-bottom: 20px; }
  
  .product-card .card {
    position: relative;
    display:     flex;
    align-items: flex-start;
    gap: 20px;
  }
  
  .card .product-images { border-radius: var(--radius); }
  
  .card .detail .product-name {
    font-weight: var(--fw-6);
    font-size: var(--fs-15);
    color: var(--dim-gray);
    margin-bottom: 10px;
  }
  
  .card .detail  {
    display: flex;
    gap: 20px;
  }
  
  .product-qty {
    display:     flex;
    align-items: center;
    gap: 10px;
  }
  
  .product-qty button {
    background: var(--platinum);
    width:  20px;
    height: 20px;
    display:         flex;
    justify-content: center;
    align-items:     center;
  }
  
  .product-qty button:active,
  .product-close-btn:active ion-icon { transform: scale(0.95); }
  
  .product-qty button ion-icon {
    --ionicon-stroke-width: 60px;
    font-size: 10px;
  }
  
  .product-close-btn {
    position: absolute;
    top:   0;
    right: 0;
  }
  
  .product-close-btn ion-icon {
    font-size: 25px;
    color: var(--quick-silver);
  }
  
  .product-close-btn:hover ion-icon { color: var(--red-salsa); }
  
  .discount-token {
    padding: 40px var(--px);
    border-top:    1px solid var(--gainsboro);
    border-bottom: 1px solid var(--gainsboro);
  }
  
  .wrapper-flex {
    display:     flex;
    align-items: center;
    gap: 30px;
  }
  
  .wrapper-flex input {
    padding: 12px 15px;
    font-weight: var(--fw-6);
    letter-spacing: 2px;
  }
  
  .btn-outline {
    padding: 10px 25px;
    border: 1px solid var(--azure);
    color: var(--azure);
  }
  
  .btn-outline:hover {
    background: var(--azure);
    color: var(--white);
  }
  
  .amount { padding: 40px var(--px); }
  
  .amount > div {
    display:         flex;
    justify-content: space-between;
  }
  
  .amount > div:not(:last-child) { margin-bottom: 10px; }
  
  .amount .total {
    font-size: var(--fs-18);
    font-weight: var(--fw-7);
    color: var(--onyx);
  }
  @media (max-width: 1200px) {

    .item-flex { flex-direction: column-reverse; }
  
    /**
     * checkout section responsive 
     */
  
    .checkout {
      width: 100%;
      border-right: none;
    }
  
    .btn-primary { width: 100%; }
  
    /**
     * cart section responsive
     */
  
    .cart {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      border-bottom: 1px solid var(--gainsboro);
    }
  
    .cart .wrapper { margin-top: auto; }
  
    .cart .cart-item-box {
      border-right: 1px solid var(--gainsboro);
      margin-bottom: 0;
    }
  
    .discount-token { border-top: none; }
  
  }
  
  
  
  
  
  @media (max-width: 768px) {
  
    :root { --px: 40px; }
  
    .cart { grid-template-columns: 1fr; }
  
    .discount-token { border-top: 1px solid var(--gainsboro); }
  
    .wrapper-flex { gap: 20px; }
  
  }
  
  
  
  
  
  @media (max-width: 567px) {
  
    :root { --px: 20px; }
  
    .payment-method,
    .input-flex {
      flex-direction: column;
      gap: 20px;
    }
  
    .payment-method .method { width: 100%; }
  
    .input-flex .expire-date,
    .input-flex .cvv { width: 100%; }
  
    .expire-date .input-flex { flex-direction: row; }
  
  }  