:root{
    /* Colores */
    --blanco: #FFF;;
    --amarillo:#E9E600;;
    --gris: #A8A8A8;;
    /* Familias de Fuentes */
    font-family: 'Bebas Neue', cursive;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;
}

*:before,*:after{
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: black;
}
.logo{
    width: 30vw;
    display: flex;
    padding: auto 0;
    text-align: left;
}
.contenedor{
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
  box-shadow: none;
}
.datos-form{
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.datos-form label{
  font-weight: 600;
  font-size: 110%;
  display: block;
}
.datos-form input{
  border-radius: 3px;
  border: 1px solid #e1e3e3;
  height: 40px;

  padding-left: 10PX;
  padding-bottom: 5PX;
padding-right: 5px;
padding-top: 5px;

box-sizing: border-box;
width: 100%;
}
.form.datos{
  display: inline-block;
  width: 50px;
  box-sizing: border-box;
}
.linea-izq{
  padding-right: 5px;
  box-sizing: border-box;
}
.linea-der{
  padding-right: 5px;
  box-sizing: border-box;
}
.form-btn{
  width: 100px;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}

  @media (min-width: 1200px) {
    body {
      padding: 30px 80px;
    }
    .contenedor{
      right: 80px;
      top: 30px;
  }