:root{
    /* Colores */
    --blanco: #FFF;;
    --amarillo:#E9E600;;
    --gris: #A8A8A8;;
    /* Familias de Fuentes */
    font-family: 'Bebas Neue', cursive;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;
}
img{
    width: 100%;
}

*:before,*:after{
    box-sizing: border-box;
}

body{
    background-image: url(/img/bgn-g3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color:white;
}

main{
    display: flex;
    justify-content: space-around;
    padding-top: 140px;
    padding-bottom: 20px;

}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: black;

    width: 60%;

    border-radius: 50px;

}

.titulo{
    text-align: center;
}
