/**FOOTER START**/
footer{
    background: #000;
    color: #ffffff;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    padding: 0 2rem;
    z-index: 1;
    letter-spacing: 0.2em;
}

img{
    width: 100%;
}

footer .footer-v2{
    padding: 4em 0;
}

.footer-lefth{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 2vw;
}

.footer-lefth p{
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

.botonenviar{
    padding: 1vw 2vw;
    color: black;
    background: #E9E600;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1vw;
}

.botonenviar:hover{
    background: #e9e500a2;
}

.email{
    display: flex;
    font-family:'Helvetica Neue', sans-serif;
    background: #1E1E1E;
    border: 1px solid #555555;
    border-radius: 2px;
    margin: 0 20px;
    font-size: 2vw;
}

.formulario-footer{
    display: flex;
    align-items: center;

}

.column{
    width: 32%;
}

.column a{
    text-decoration: none;
}

.info{
    display: flex;
    flex-wrap: wrap;
    font-size: 2vw;
}

.info a{
    color: #555555;
}

.info a:hover{
    color: #E9E600;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social i{
    color: white;
}

.social i:hover{
    color: #E9E600;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 2vw;
}

.pagos{
    width: 40%;
}

.copy a{
    color: #FFF;
}

/**FOOTER END**/