:root{
    /* Colores */
    --blanco: #FFF;;
    --amarillo:#E9E600;;
    --gris: #A8A8A8;;
    /* Familias de Fuentes */
    font-family: 'Bebas Neue', cursive;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;
    color: #FFF;
}
img{
    width: 100%;
}

*:before,*:after{
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: black;
}

h1{
    color: #E9E600;
}

.panel-1{
    margin: 0 5%;
    padding: 140px 0 5em;
    display: flex;
}

.panel-izq{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.panel-der{
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.panel-1 h1{
    color: #E9E600;
    font-family: 'Open Sans', sans-serif;
    font-size: 3vw;
    margin-bottom: 10px;
}

.product-des{
    font-size: 4vw;
}

.precio{
    padding-right: 15px;
    text-align: end;
}

/*Estrellas*/

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
 }
   
 #form p {
   text-align: center;
 }
   
 #form label {
   font-size: 3vw;
 }
   
 input[type="radio"] {
   display: none;
 }
   
 label {
  color: grey;
 }
   
 .clasificacion {
   direction: rtl;
   unicode-bidi: bidi-override;
   display: flex;
   justify-content: flex-end;
 }
   
 label:hover,label:hover ~ label {
  color: #E9E600;
 }
   
 input[type="radio"]:checked ~ label {
  color: #E9E600;
 }
 
 .stars{
  font-size: 3vw;
 }
 /*Estrellas-End*/

 .img-product{
     width: 90%;
     padding: 30px;
}

.img-product:hover {filter:none;}

.max{
    color:#FFF;
    font-size: 2vw;
    text-align: end;
    padding: 10px;
}

.gallery{
    display: none;
}

.content-product-color{
    display: flex;
    flex-direction: column;

}

.product-color{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    border: #A8A8A8 1px solid;
    padding: 5px 0;
    margin: 20px 0;
    font-size: 4vw;
}

.img-color{
    width: 15%;
}

.color{
    padding-left: 10px;
}

.fav{
    padding-right: 10px;
}

.fav i{
    color: #E9E600;
    font-size: 1.5vw;
}

.add-carrito{
    border: 0px;
    padding: 20px 0;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;

    background-color: #dad617;
    color: #000;
}

.add-carrito:hover{
    background-color: #E9E600;
    color: black;
    border: 0px;
    cursor: pointer;
}

.add-carrito:hover a{
    background-color: #E9E600;
    color: black;
    border: 0px;
}

.video-rese{
    border: #A8A8A8 1px solid;
    border-left: 0px;
    border-right: 0px;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    margin: 15px 0;
    cursor: pointer;
}

.video-rese a{
    text-decoration: none;
}

.video-rese i{
    color: #A8A8A8;
    padding-right: 10px;
}

.video-rese:hover i{
    color: #E9E600;
}

.video-rese:hover .fa-trash-alt{
    color: #e90000;
}


.video-rese:hover a{
    color: #E9E600;
}

.video-rese button{
    background: none;
    border: none;
    margin-left: 3px;
    cursor: pointer;
}

.video-rese:hover .button{
    color: #e90000;
}

.video-rese:hover .ocultar{
    background: none;
    border: none;
    margin-left: 3px;
    color: #E9E600;
}


@media (min-width: 361px) {
    .panel-1{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (min-width: 769px) {
    .gallery{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 10%;
        height: 100%;
    }
    .panel-1{
        display: flex;
        flex-direction: row;
    }
    .panel-izq{
        width: 40%
    }
    .product-color{
        font-size: 2vw;
    }
    .product-des{
        font-size: 2vw;
    }
    .panel-1 h1{
        font-size: 3vw;
    }
    .img-product{
        filter: grayscale(80%);
   }
}

@media (min-width: 1200px) {
    .img-product{
        width: 40vw;
        margin: auto;
    }
}