
    <div class="footer-v2">
      <div class="footer-lefth">
        <h2>Suscríbete y recibe las mejores ofertas</h2>
        <form class="formulario-footer" action="/" method="post">
          <input class="email" type="email" name="email" placeholder="Ingresa tu email" required />
          <input class="botonenviar" type="submit" name="enviar" value="Suscribete"></input></p>
        </form>
      </div>
      <div class="footer-info">
        <div class="info">
          <div class="column">
            <h3>SHOP</h3>
            <p><a href="#">Nuevos Productos</a></p>
            <p><a href="#">Ofertas especiales</a></p>
            <p><a href="#">Exclusivas newsof.com</a></p>
            <p><a href="#">Best Sellers</a></p>
            <p><a href="#">Dónde comprar</a></p>
            <p><a href="#">Certificados</a></p>
          </div>
          <div class="column">
            <!-- <h3>SHOP</h3>
            <p><a href="#">Nuevos Productos</a></p>
            <p><a href="#">Ofertas especiales</a></p>
            <p><a href="#">Exclusivas newsof.com</a></p>
            <p><a href="#">Best Sellers</a></p>
            <p><a href="#">Dónde comprar</a></p>
            <p><a href="#">Certificados</a></p> -->
          </div>
          <div class="column">
            <h3>Siguenos en:</h3>
            <div class="social">
              <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
              <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
              <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
              <a href="https://www.twitch.tv/" target="_blank"><i class="fa-brands fa-twitch"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="links">
      <div class="copy">Copyright &copy; 2022 NEWSOFT. Todos los derechos reservados</div>
      <div class="pagos"><img src="/img/pagos.png" alt=""></div>
    </div>
