    
    
    <div class="top-header">
      <img class="flag-header" src="https://img.icons8.com/fluency/48/000000/colombia-circular.png" />
      <p class="envios-header">
        Envío gratis a partir de $500.000 | Debido a COVID-19, algunos pedidos
        pueden sufrir retrasos.
      </p>
      <p class="xbox-header">XBOX</p>
      <p class="nintendo-header">NINTENDO</p>
      <p class="playstation-header">PLAYSTATION</p>
    </div>
    <div class="main-header">
      <a class="burger-menu-header" href="#" onclick="alterStyle(mb)">
        <div>
          <i class="fas fa-bars"></i>
        </div>
      </a>

      <a href="/"><img class="logo-header" src="/img/logo-one.png"/></a>
      <nav class="main-nav-header">
        <ul class="ul-menu">
          <li>
            <a href="/products/create">
              <span class="nav-btn-text">AGREGAR PRODUCTO</span>
            </a>
          </li>
          <li>
            <a href="/products?categoria=catalogo">
              <span class="nav-btn-text">PRODUCTOS</span>
            </a>
          </li>
          <li>
            <a href="/products/ocultos">
              <span class="nav-btn-text">PRODUCTOS OCULTOS</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="nav-btn-text">STREAMING</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="nav-btn-text">DIADEMAS</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="search-cart">
        <a href="#"><button><i class="fas fa-search"></i></button></a>
        <a href="/productCart/productCart"><button><i class="fas fa-shopping-cart"></i></button></a>
        <a href="/login"><button><i class="fa-regular fa-circle-user"></i></button></a>
      </div>
    </div>

    <div id="mb">
      <nav class="nav-mobile">
        <ul class="ul-menu-mobile">
          <li>
            <a href="/products/create">
              <span class="nav-btn-text">AGREGAR PRODUCTO</span>
            </a>
          </li>
          <li>
            <a href="/products?categoria=catalogo">
              <span class="nav-btn-text">PRODUCTOS</span>
            </a>
          </li>
          <li>
            <a href="/products/ocultos">
              <span class="nav-btn-text">PRODUCTOS OCULTOS</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="nav-btn-text">STREAMING</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="nav-btn-text">DIADEMAS</span>
            </a>
          </li>
          <li>
            <a class="li-a" onclick="resStyle(mb)">Clic para cerrar</a>
          </li>
        </ul>
        
      </nav>

    </div>

    <script type="text/javascript">

      function alterStyle(mb) {
        mb.style.right = '9vw';
      }

      function resStyle(mb) {
        mb.style.right = '600px';
      }
    </script>
