
    <div class="top-header">
      <img class="flag-header" src="https://img.icons8.com/fluency/48/000000/colombia-circular.png" />
      <p class="envios-header">
        Envío gratis a partir de $500.000 | Debido a COVID-19, algunos pedidos
        pueden sufrir retrasos.
      </p>
      <p class="xbox-header">XBOX</p>
      <p class="nintendo-header">NINTENDO</p>
      <p class="playstation-header">PLAYSTATION</p>
    </div>
    <div class="main-header">
      <a class="burger-menu-header" href="#">
        <div>
          <i class="fas fa-bars"></i>
        </div>
      </a>
      <a href="/"><img class="logo-header" src="/img/logo-one.png"/></a>
      <nav class="main-nav-header">
        <div>
          <a href="/products/create">
            <span class="nav-btn-text">AGREGAR PRODUCTO</span>
          </a>
          <a href="/products">
            <span class="nav-btn-text">PRODUCTOS</span>
          </a>
          <a href="#">
            <span class="nav-btn-text">MONITORES</span>
          </a>
          <a href="#">
            <span class="nav-btn-text">STREAMING</span>
          </a>
          <a href="#">
            <span class="nav-btn-text">DIADEMAS</span>
          </a>
        </div>
      </nav>
      <div class="search-cart">
        <a href="#"><button><i class="fas fa-search"></i></button></a>
        <a href="/productCart/product-Cart"><button><i class="fas fa-shopping-cart"></i></button></a>
        <a href="/login"><button><i class="fa-regular fa-circle-user"></i></button></a>
      </div>
    </div>
