<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="/css/styles-recover.css" rel="stylesheet">
    <link href="./css/normalize.css" rel="stylessheet">
    <script src="https://kit.fontawesome.com/98fbc29962.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="./img/logo-one.png" rel="icon">
</head>
<body>
    
    <header>
    </header>
    <br>
    <br>
    <br>

    <div class="contenedor">
        <div class="contenedor1">
            <h2 class="titulo">HA OLVIDADO SU CONTRASEÑA</h2>
            <p class="text-recover">Escriba su dirección de correo electrónico para recuperar la contraseña</p>
            <form action="/login.html" method="POST" class="form">
                
                <div class="email">
                    <label for="email" class="name">
                        <span>DIRECCIÓN DE CORREO ELECTRÓNICO</span> 
                    </label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="rectangulo"></div>
    
                <button type="submit" class="boton-inicio-sesion"><b>ENVIAR</b></button>  
        
            </form>
            <a href="/login">Volver al inicio de sesion</a>
    </div>
    <footer>
    </footer>
</body>
</html>