<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./css/styles-register.css">
  <link rel="stylesheet" href="css/normalize.css" />
  <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />

  <title>Registro</title>
</head>

<body class="body-register-confirmation">
  <header>
    <div class="top-header">
      <img class="flag" src="https://img.icons8.com/fluency/48/000000/colombia-circular.png" />
      <p class="envios">
        Envío gratis a partir de $500.000 | Debido a COVID-19, algunos pedidos
        pueden sufrir retrasos.
      </p>
      <p class="xbox">XBOX</p>
      <p class="nintendo">NINTENDO</p>
      <p class="playstation">PLAYSTATION</p>
    </div>
    <div class="main-header">
      <a class="burger-menu" href="#">
        <div>
          <i class="fas fa-bars"></i>
        </div>
      </a>
      <a href="/"><img src="img/logo-one.png" class="logo" /></a>
      <nav class="main-nav">
        <div>
          <a href="#">
            <span class="nav-btn-text">GAMING GEAR</span>
          </a>
          <a href="#">
            <span class="nav-btn-text">TIENDA</span>
          </a>
          <a href="#">
            <span class="nav-btn-text">SOFTWARE</span>
          </a>
          <a href="#">
            <span class="nav-btn-text">STREAMING</span>
          </a>
          <a href="#">
            <span class="nav-btn-text">DIADEMAS</span>
          </a>
        </div>
      </nav>
      <div class="search-cart">
        <button><i class="fas fa-search"></i></button>
        <button><i class="fas fa-shopping-cart"></i></button>
      </div>
    </div>
  </header>

    <main>
        <form action="/register-confirmation" method="post" class="formulario-forma">
         <div class="mensaje-logo"><h1>FORMULARIO DE REGISTRO</h1> <img src="img/logo-solo.png" class="logo-solo"></div>
         <P>Complete todos los campos para crear su ID</P>  
         <div class="formulado-interno">
          <div class="control-formulario">
               <input type="text" name="nombre_usuario" placeholder="NOMBRE" class="control-input" required>
          </div>
          <div class="control-formulario">
                <input type="text" name="apellido_usuario" placeholder="APELLIDOS" class="control-input" required>
          </div>
          <div class="control-formulario">
               <input type="email" name="email_usuario" placeholder="DIRECCIÓN DE CORREO ELECTRÓNICO" class="control-input" required>
          </div>
          <div class="control-formulario">
               <input type="password" name="clave" placeholder="CONTRASEÑA" class="control-input" required minlength="8">
          </div>
            
          <div>
            <input type="checkbox" name="newsletter" id="newsletter">
            <label for="newsletter">Si, quiero recibir noticias y correos electrónicos de productos</label>
          </div>
          <p> Al crear una cuenta, acepta nuestros <a href="#">Términos de servicio</a> y confirma que ha leido nuestra <a href="#">
              Política de privacidad.</a> Este sitio está protegido por Captcha.</p>
              <br>
          <div class="control-envio"><button type="submit" class="boton-formulario">CREAR CUENTA</button></div>
          <br>
          <div class="iconos-finales"><i class="fab fa-twitter"></i> <i class="fab fa-youtube"></i> <i class="fab fa-facebook-f"></i> <i class="fab fa-instagram"></i></div>
          <br>
          <div><a href="/login" class="control-input">INICIAR SESIÓN</a></div>
        </div>
        </form>
    </main> 
 
    <footer class="confirmacion-v1">
      <div class="footer-v2">
        <div class="footer-lefth">
          <h2>Suscríbete y recibe las mejores ofertas</h2>
          <form class="formulario-footer" action="/" method="post">
            <input class="email" type="email" name="email" placeholder="Ingresa tu email" required />
            <input class="botonenviar" type="submit" name="enviar" value="Suscribete"></input></p>
          </form>
        </div>
        <div class="footer-info">
          <div class="info">
            <div class="column">
              <h3>SHOP</h3>
              <p><a href="#">Nuevos Productos</a></p>
              <p><a href="#">Ofertas especiales</a></p>
              <p><a href="#">Exclusivas newsof.com</a></p>
              <p><a href="#">Best Sellers</a></p>
              <p><a href="#">Dónde comprar</a></p>
              <p><a href="#">Certificados</a></p>
            </div>
            <div class="column">
              <h3>SHOP</h3>
              <p><a href="#">Nuevos Productos</a></p>
              <p><a href="#">Ofertas especiales</a></p>
              <p><a href="#">Exclusivas newsof.com</a></p>
              <p><a href="#">Best Sellers</a></p>
              <p><a href="#">Dónde comprar</a></p>
              <p><a href="#">Certificados</a></p>
            </div>
            <div class="column">
              <h3>Siguenos en:</h3>
              <div class="social">
                <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.twitch.tv/" target="_blank"><i class="fa-brands fa-twitch"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="links">
        <div class="copy">Copyright &copy; 2022 NEWSOFT. Todos los derechos reservados</div>
        <div class="pagos"><img src="/img/pagos.png" alt=""></div>
      </div>
    </footer>

 </body>
</html>